.setting-container {
  padding-top: 10%;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.vl {
border-right: 2px solid rgb(11, 11, 11);
height: 500px;
}

ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  
  
}