.Table-container {
    margin: 0 auto;
  }
  
  .Table {
    color: #FFF;
    border-collapse: none;
    width: 100%;
  }
  
  .Table td:not(.delete-row),
  .Table th {
    padding: 12px;
    text-align: left;
    border: none;
  }

  .Table th {
    background: #F03F58;
    border: none;
  }

  .Table td input {
    border: none;
    background: #1f2938;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 5px;
  }
  



