.auth {
    background-color: rgba(8,10,50,0.4) !important;
    border: 0 !important;
    --bs-bg-opacity: 1;
    color: rgb(var(--bs-light));
}

.add_exercise {
    position: absolute;
    top: 50px;
    left: 292px;
    border-radius: 100%;
}

.setup {
    background-color: rgba(50,107,255,0.86) !important;
    border: 0 !important;
    --bs-bg-opacity: 1;
    color: rgb(var(--bs-light));
}

.dropdown {
    --bs-btn-bg: #445162 !important;
    --bs-btn-border-color: #000 !important;
    --bs-btn-hover-bg: #000 !important;
    color: floralwhite;
}

.goals {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    margin-bottom: 10px;
}