.auth {
    background-color: rgba(8,10,50,0.4) !important;
    border: 0 !important;
    --bs-bg-opacity: 1;
    color: rgb(var(--bs-light));
}

.add_exercise {
    position: absolute;
    top: 50px;
    left: 292px;
    border-radius: 100%;
}