.error {
    height: 50vmin;
    pointer-events: none;
    margin-top: 3rem!important;
}

.profile {
    margin-top: 3px;
}

.map {
    font-size: 24px;
    color: #000000
}

.add {
    color: #ffffff;
}

.card {
    font-size: 64px !important;
    color: white;
}