.heading {
    margin-top: calc(0.5rem + 100px);
}

.headerTop {
    padding-top: 3rem;
    margin-left: 5rem;
    color: #fff;
}

.dropdown {
    width: 250px;
}

.container {
    max-width: 750px !important;
    padding: 2rem;
}