.tabs {
    padding: 1rem;
    max-width: 80px !important;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}