.fitnessgoalscontainer {
    padding-top: 10%;
    padding-bottom: 5%;
  }

.delete-fitness-goal{
    width: 5%;
    background-color: transparent;
    color: white;
    border: none;
}

.addfitnessgoals{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 5px solid white;   
}

.addfitnessgoalscard{
    justify-content: center;
    display: flex;
}

.fitnessgoalstitle{
    color: white !important;
    font-size: 30px !important;
    padding-left: 10px;
}

.fitnessgoalsubmit {
    margin-right: auto;

}

.editfitnessgoalscontainer{
    width: 700px;
    height: 510px;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
