@media screen{
  .exercise-container {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* set the height of the container to the height of the viewport */
    color: #fff;
  }

  .exercise-block {
    width: 30%;
    padding: 2rem;
    margin: 5rem;
    background: #17202d;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .exercise-video {
    margin-bottom: 2rem;
    border-radius: 30px;
    width: 100%;
  }

  .exercise-instructions,
  .exercise-remarks {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }

  .exercise-instructions h3,
  .exercise-remarks h3 {
    margin: 0;
  }

  .exercise-instructions p,
  .exercise-remarks p {
    margin: 10px 0;
  }

  .instructions-title,
  .remarks-title {
    flex-basis: 40%;
    align-self: center;
    padding-right: 1.5rem;
    min-width: 165px;
  }

  .instructions-description,
  .remarks-description {
    flex-basis: 70%;
    text-align: justify;
  }

  .star {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    background-color: #fff;
    border: 0.2em solid black;
    clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
  }
  .star.filled {
    background-color: #FFD700;
  }
}
