.exercise-container {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* set the height of the container to the height of the viewport */
}
.exercise-left {
  background-color: #17202D;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 20px;
}
.exercise-right {
    background-color: #17202D;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* add margin to the left */
    border-radius: 20px;
  }
  
  .exercise-title {
    margin: 20px 0 10px; /* add margin to the top */
  }
  
  .exercise-bodypart {
    margin: 0;
  }
  
  .exercise-how-to,
  .exercise-why {
    display: flex;
    border-radius: 20px;
    color: #FFF;
    padding: 20px;
    justify-content: space-between;
  }
  
  .exercise-how-to,
  .exercise-why {
    margin: 10px 0;
  }
  
  /* Add the following rules */
  .exercise-how-to > div,
  .exercise-why > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .how-to-title,
  .why-title {
    flex-basis: 40%;
    align-self: center;
  }
  
  .how-to-description,
  .why-description {
    flex-basis: 70%;
    margin-left: 10px; /* Add some spacing between the title and description */
  }
  