.fitness-goal{
    color: white;
    border: 1px solid #F03F58;
    border-radius: 10px;
}

.goal-to-achieve{
    color: #56AF55;
}

.current-standing{
    color: #EFAB4A;
}

.goal-date{
    align-items: center;
    color: white;
}

.goal-done{
    background-color: #56AF55;
    border-radius: 10px;
    border: none;
}

.goal-title{
    color: white !important;
    font-size: 30px !important;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;;
}

