  .exercise-plan-container {
    margin: 0 10%;
    padding-top: 4%;
  }

  .exercise-plan-title {
    font-size: 22px;
    color: white;
    padding: 0 0 15px 0;
  }

  .table-save{
    background-color: transparent;
    color: #FFF;
    border-collapse: collapse;
    width: 100%;
    text-align: right;
    margin-top: 3rem;
  }

  .table-save button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .table-save button:hover {
    background-color: #3e8e41;
  }