.Table-container {
    width: 100%;
    margin: 0 auto;
    
  }
  
  .Table {
    background-color: #af353500;
    color: #FFF;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Table td,
  .Table th {
    padding: 12px;
    text-align: left;
    border: 1px solid #FFF;
  }
  
  .Table th {
    background-color: #091321;
  }
  
  .Table tr:nth-child(even) {
    background-color: #0D47A1;
  }
  
  .Table tr:nth-child(odd) {
    background-color: #1565C0;
  }