.all-exercise-review-container {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
  }

.all-exercise-review-details{
  align-self: flex-start;
  width: 100%;
  white-space: nowrap;
  color: white;
  max-width: 400px;
}

.all-add-review-button {
  margin-left: auto;
  border-radius: 50px;
  display: block;
  width: 120px;
  height: 40px;
  font-weight: 500;
  }


.all-individual-review{
  background-color: white;
  border-radius: 12px;
}

.all-exercise-review-text{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  width:100%;
  align-self: flex-start;
  margin-bottom: 10px;
}

.all-exercise-review-card{
  display:flex;
  width:100%;
  margin-right:10%;
  background-color: #202020;
  border: none;
  border-radius: 40px;
  padding: 1rem 3rem 5rem !important;

}

.all-exercise-title{
  color:white
}

.exercise-video-review{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.all-exercise-reviews{
  width:100%;
  margin-right:5%;
  align-self: flex-start;
}