.profile-review-container {
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .profile-review-card{
    display:flex;
    width:100%;
    margin-right:10%;
  }


  .delete-review{
    background-color: rgb(255, 255, 255);
    
    border: 1px solid red;
    border-radius: 12px;
    align-self: flex-start;
  }

.individual-review{
    background-color: #F6F6F6;
    border-radius: 12px;
    padding: 12px 16px;
    width:100%;
    }

.user-review{
    border-radius: 40px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.profile-review-profile{
    width: 215px;
}

.profile-review-text{
    align-self: flex-start;
    font-weight: bold;
    margin-top: 10px;
    text-align: justify;
    width:100%;
}

.exercise-video-small{
    max-width: 200px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}