.CircularProgressbar-path {
    stroke: #F03F58!important;
}
.CircularProgressbar-background {
    fill : #58585d !important;
}
.CircularProgressbar-trail {
    stroke: rgba(183, 181, 181, 0.58) !important;
    stroke-width: 3px;
}
.CircularProgressbar {
    width: 35vmin;
}

.CircularProgressbar-text {
    fill: white!important;
    font-size: 1vmin!important;
}

.Calories-tracker {
    width: 317px !important;
    height: 371px !important;
    background: rgba(213, 197, 197, 0.31) !important;
    border-radius: 30px !important;
    }

