
.height-card{
  background-color: #F8DEBD;
}

.weight-card{
  background-color: #D0FBFF;
}

.healthy{
  background-color: #D6FFDD;
  border-radius: 12px;
  align-content: center;
  justify-content: center;
  display: flex;
}

.BMIvalue{
  
}
