
.height-card{
  background-color: #F8DEBD;
  width: 250px;
  min-height: 100px;
  padding: 1rem;
}

.weight-card{
  background-color: #D0FBFF;
  width: 250px;
  min-height: 100px;
  padding: 1rem;
}

.healthy{
  background-color: #D6FFDD;
  border-radius: 12px;
  align-content: center;
  justify-content: center;
  display: flex;
}

.BMIvalue{
  color: white;
}

.BMITitle{
  color:white;
  margin-left:20px;
  margin-bottom: 20px;
  
  height:50px;
  padding-top: 20px;
}

.wrapper {
  max-width:300px;
  min-width: 150px;
  height:220px !important;
  background-color: #4A4949 !important;
}